aloc
docs/draft/*
libraries/draft/*
/.project
/.cproject
compiler/*.o
build/*
/Makefile
/docs/_sidebar.md

# Created by https://www.toptal.com/developers/gitignore/api/flex,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=flex,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Flex ###

# Build and Release Folders
bin/
bin-debug/
bin-release/
.actionScriptProperties

# only for a non-library project
.flexProperties

# only for library project
.flexLibProperties


# Other files and folders
.settings/
.project/

.FlexUnitSettings
.externalToolBuilders
.model

# End of https://www.toptal.com/developers/gitignore/api/flex,c++